html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #dbd6cf;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: "Bevan", serif;
  color: #fff;
  margin: 0;
  text-align: center;
}
.nav {
  list-style-type: none;
  text-align: center;
}

.nav li {
  display: inline-block;
}

.nav a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  background-color: #713837;
  border-radius: 4px;
  padding: .6em .75em .5em;
}

.nav a:hover {
  background-color: #f33;
}

header {
  background-color: #79756f;
  border: 3px solid #595652;
}
